*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #FFF;
}

ul{
    list-style: none;
}

i {
    border-radius: 50%;
    border: solid 0.1rem #FFF;
    padding: 1rem;
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
    font-size: 1.5rem;
}

i:hover{
    border: solid 0.1rem var(--hover-color);
}
